.geral{
    padding-top:10%;
}

.direita{
    float: right;
}
.esquerda{
    float: left;
}
.bg-card{
    background-color: whitesmoke;
}
.formula{
    color: black;

}
.imagem{
    align-self: center;
    max-width:32.4vw;
    max-height:32.4vw;
    width: auto;
    height: auto;
    
}
.sub{
    text-align: left;
    position: relative;
    bottom: 5%;
}
.baixo{
    float:inline-start;
}
.titulos{
    width: 22vw;
    color: black;
    float: left;
    
}
.inputss{
    width: 5em;
    height: 5em;
}
label{
    margin: 2%;
}
.posicao{
    padding: 5%;
    background-color: whitesmoke;
    width: 46vw;
    height: auto;
    border: 1.5px solid;
    border-radius: 1.5vw;
}

.ima{
    margin-top: 7vw; 
    margin-bottom: 2%;    
}
