
.headerpadrao{
    background-color: whitesmoke !important;
    width: 100%;
    height: auto;
    box-shadow: -4px 0px 15px rgba(218, 165, 32, 0.397);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    
}
.texto{
    position: relative;
    left: 5%;
}
.chave{
    float: right;
    font-size: 25px;
    width: auto;
    height: 100%;
    margin-top: 30px;
    text-decoration-style: none;
    text-decoration: none;
}
.padrao{
    width: 50px;
    height: 50px;
}
.titulo{
    float: left;
    font-style: italic;
    color: black;
    margin-left: 200px;

}
a{
    margin-right: 10px;
}
.menus{
    height: auto;
    float: left;
    margin-right: 20px;    
    border-radius: 5px;
    padding-top: 45px;
    padding-left: 15px;
}
.links{
    font-size: 20px;

}
.figuras{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    
}
a:link, a:visited {
    text-decoration:none;
    color:black;
    text-decoration-color: whitesmoke;
}
ul{
    padding-top: 45px;
    padding-left: 25px; 
    margin-left: 45px;
}
li{
    margin-left: 8px;
    margin-right: 8px;
}
.direita{
    float: right;
}
.border-none{
    border-width: 0px !important;
}