@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root { 
  --dark-brown: #dd5e11;
  --middle-brown: #ffdc78;
  --light-brown: #ffdc78;
  --dark-gray: #362d27;
  --middle-gray: #cfc7ba;
  --light-gray: #f7f4f2;
}
.bg-middle-gray {
background-color: var(--middle-gray) !important;
}
.bg-light-gray {
background-color: var(--light-gray) !important;
}
.bg-dark-brown {
background-color: var(--dark-brown) !important;
}
.bg-middle-brown {
background-color: var(--middle-brown) !important;
}
.bg-light-brown {
background-color: var(--light-brown) !important;
}
.bg-transparent {
background-color: transparent !important;
}
.text-dark-gray {
  color: var(--dark-gray) !important;
}
.text-middle-gray {
  color: var(--middle-gray) !important;
}
.text-light-gray {
  color: var(--light-gray) !important;
}
.text-dark-brown {
  color: var(--dark-brown) !important;
}
.text-middle-brown {
  color: var(--middle-brown) !important;
}
.text-light-brown {
  color: var(--light-brown) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body {
font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
button, a, input[type="submit"] {
  font-family: 'Roboto Condensed' !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.corpo{
  background-color: #ffffff;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
